* {
    box-sizing: border-box;
}

body {
    background-color: silver;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    overflow: hidden;
}

.box {
    width: 100px;
    height: 200px;
    background-color: orange;

    transition: 0.8s;
    float: left;
    /*0.8s best timing*/
}

.box:hover {
    color: white;
    background-color: blue;
    /* width: 400px; */
    /* transform: scale(1.5, 1); */
    transform: translate(15px, 15px);
    transform: rotate(180deg);
}