* {
    box-sizing: border-box;
}

body {
    background-color: silver;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 8px;
}

.container>h2 {
    color: red;
}

.container img[src="_images_nike/nike_05.jpg"] {
    border: 7px solid orange;
}

.container img[src*=".png"] {
    border: 7px solid black;
}