* {
    box-sizing: border-box;
}

body {
    background-color: silver;
    color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: rgb(48, 183, 236);
    width: 100%;
}

main {
    background-color: white;
}

main .content {
    background-color: rgb(0, 170, 43);
    width: 70%;
    min-height: 200px;
    float: left;
}

main div {
    border: 3px solid white;
}

main .aside {
    background-color: blueviolet;
    width: 30%;
    min-height: 200%;
    float: left;
    min-height: 200px;
}

main .twin {
    background-color: orange;
    width: 50%;
    float: left;
    min-height: 100px;
}

footer {
    background-color: rgb(28, 131, 214);
    width: 100%;
}