* {
    box-sizing: border-box;
}

body {
    background-color: silver;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    background-color: white;
    padding: 8px;
}

.row1 {
    width: 100%;
    display: flex;
}

.row1 .box1 {
    background-color: red;
    padding: 10px;
    flex: 1;
    order: 3;
}

.row1 .box2 {
    background-color: green;
    padding: 10px;
    flex: 2;
}

.row1 .box3 {
    background-color: blue;
    padding: 10px;
    flex: 1;
}




.row2 {
    width: 100%;
    display: flex;
    margin-top: 48px;
    align-items: stretch;
    justify-content: space-between;
}

.row2 .box1 {
    background-color: aqua;
    padding: 10px;
    flex-basis: 30%;
}

.row2 .box2 {
    background-color: orange;
    padding: 10px;
    flex-basis: 30%;
}

.row2 .box3 {
    background-color: salmon;
    padding: 10px;
    flex-basis: 30%;
}


@media screen and (max-width:728px) {
    .row2 {
        display: block;
    }
}